@import 'tailwindcss';

:root {
	--primary-color: #006498;
	--secondary-color: #f5f5f5;
}

@theme inline {
	--color-background: var(--primary-color);
	--color-foreground: var(--secondary-color);
	--font-sans: var(--font-electrolize);
	--font-mono: var(--font-electrolize);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-electrolize), Arial, Helvetica, sans-serif;
}

/* Hides white bg on autofilled input fields */
input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-text-fill-color: #fff !important;
	transition: background-color 9999s ease-out 0s;
}

input::placeholder,
textarea::placeholder {
	color: rgba(255, 255, 255, 0.8);
}

@keyframes scroll-left {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
	0% { transform: translateX(-50%); }
	100% { transform: translateX(0); }
}
